/*
	Outputs classes (.columns-#) for each column <= $nbrOfColumns in _variables.scss
	<div class="columns-6"></div> is 50% width in a 12-column layout
*/
.columns-1, .columns-2, .columns-3, .columns-4, .columns-5, .columns-6, .columns-7, .columns-8, .columns-9, .columns-10, .columns-11, .columns-12 {
  width: 100%; }

@media only screen and (min-width: 64em) {
  .columns-1 {
    float: left;
    width: 8.33333%;
    padding: 0 10px; }

  .columns-2 {
    float: left;
    width: 16.66667%;
    padding: 0 10px; }

  .columns-3 {
    float: left;
    width: 25%;
    padding: 0 10px; }

  .columns-4 {
    float: left;
    width: 33.33333%;
    padding: 0 10px; }

  .columns-5 {
    float: left;
    width: 41.66667%;
    padding: 0 10px; }

  .columns-6 {
    float: left;
    width: 50%;
    padding: 0 10px; }

  .columns-7 {
    float: left;
    width: 58.33333%;
    padding: 0 10px; }

  .columns-8 {
    float: left;
    width: 66.66667%;
    padding: 0 10px; }

  .columns-9 {
    float: left;
    width: 75%;
    padding: 0 10px; }

  .columns-10 {
    float: left;
    width: 83.33333%;
    padding: 0 10px; }

  .columns-11 {
    float: left;
    width: 91.66667%;
    padding: 0 10px; }

  .columns-12 {
    float: left;
    width: 100%;
    padding: 0 10px; } }
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: white;
  font-family: arial, helvetica, sans-serif;
  font-size: 100%; }

h1 {
  font-size: 2.5em; }

.tests-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em; }

.mixin-set {
  border-bottom: 2px solid #444; }
  .mixin-set:last-of-type {
    border-bottom: 0; }

.object {
  position: relative;
  margin: 50px; }
  .object div {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    background: rgba(255, 0, 0, 0.5); }

.applied-test {
  border: 2px solid black; }

.vanilla-img,
.applied-test-img {
  display: inline-block;
  width: 100px; }

.rotate .applied-test {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg); }

.scale .applied-test {
  -webkit-transform: scale(2, 1.5);
  -moz-transform: scale(2, 1.5);
  -ms-transform: scale(2, 1.5);
  -o-transform: scale(2, 1.5);
  transform: scale(2, 1.5); }

.skew .applied-test {
  -webkit-transform: skew(10deg, 20deg);
  -moz-transform: skew(10deg, 20deg);
  -ms-transform: skew(10deg, 20deg);
  -o-transform: skew(10deg, 20deg);
  transform: skew(10deg, 20deg); }

.translate .applied-test {
  -webkit-transform: translate(10px, 1em);
  -moz-transform: translate(10px, 1em);
  -ms-transform: translate(10px, 1em);
  -o-transform: translate(10px, 1em);
  transform: translate(10px, 1em); }

.transition .applied-test {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }
  .transition .applied-test:hover {
    width: 0; }

.multi-transition .applied-test {
  -webkit-transition: background-color .3s ease, width .3s .3s ease, height .3s .6s ease;
  -moz-transition: background-color .3s ease, width .3s .3s ease, height .3s .6s ease;
  -ms-transition: background-color .3s ease, width .3s .3s ease, height .3s .6s ease;
  -o-transition: background-color .3s ease, width .3s .3s ease, height .3s .6s ease;
  transition: background-color .3s ease, width .3s .3s ease, height .3s .6s ease; }
  .multi-transition .applied-test:hover {
    width: 0;
    height: 0;
    background-color: blue; }

.animation .applied-test {
  -webkit-animation: box-rotate 5s infinite linear;
  -moz-animation: box-rotate 5s infinite linear;
  -o-animation: box-rotate 5s infinite linear;
  animation: box-rotate 5s infinite linear; }

@-webkit-keyframes box-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-moz-keyframes box-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes box-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes box-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

.blur .applied-test-img {
  -webkit-filter: blur(10px);
  filter: blur(10px); }

.brightness .applied-test-img {
  -webkit-filter: brightness(115%);
  filter: brightness(115%); }

.contrast .applied-test-img {
  -webkit-filter: contrast(125%);
  filter: contrast(125%); }

.grayscale .applied-test-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.hue-rotate .applied-test-img {
  -webkit-filter: hue-rotate(150deg);
  filter: hue-rotate(150deg); }

.invert .applied-test-img {
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.saturate .applied-test-img {
  -webkit-filter: saturate(300%);
  filter: saturate(300%); }

.sepia .applied-test-img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%); }

.body {
  background-color: white;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#bada55), to(white));
  background-image: -webkit-linear-gradient(left, #bada55, white);
  background-image: -moz-linear-gradient(left, #bada55, white);
  background-image: -ms-linear-gradient(left, #bada55, white);
  background-image: -o-linear-gradient(left, #bada55, white);
  background-image: linear-gradient(left, #bada55, white);
  background-repeat: repeat-x; }
