// Gradient Backgrounds
// Horizontal gradient background
// @include horizontal(COLOR, COLOR)
@mixin horizontal($startColor: $white, $endColor: $lightergrey) {
	background-color: $endColor;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
	background-image: linear-gradient(left, $startColor, $endColor);
	background-repeat: repeat-x;
}

// Vertical gradient background
// @include vertical(COLOR, COLOR)
@mixin vertical($startColor: $white, $endColor:  $lightergrey) {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(top, $startColor, $endColor);
	background-color: $endColor;
	background-image: -moz-linear-gradient(top, $startColor, $endColor);
	background-image: -ms-linear-gradient(top, $startColor, $endColor);
	background-image: -o-linear-gradient(top, $startColor, $endColor);
	background-image: linear-gradient(top, $startColor, $endColor);
	background-repeat: repeat-x;
}

// Directional gradient background
// @include directional(COLOR, COLOR, DEG)
@mixin directional($startColor: $white, $endColor: $lightergrey, $deg: 45deg) {
	background-color: $endColor;
	background-image: -moz-linear-gradient($deg, $startColor, $endColor);
	background-image: -ms-linear-gradient($deg, $startColor, $endColor);
	background-image: -webkit-linear-gradient($deg, $startColor, $endColor);
	background-image: -o-linear-gradient($deg, $startColor, $endColor);
	background-image: linear-gradient($deg, $startColor, $endColor);
	background-repeat: repeat-x;
}