// Gradient Backgrounds
// Horizontal gradient background
// @include horizontal(COLOR, COLOR)
@mixin horizontal($startColor: #ffffff, $endColor: #000000) {
	background-color: $endColor;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
	background-image: linear-gradient(left, $startColor, $endColor);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$startColor}', endColorstr='#{$endColor}',GradientType=1 );
	background-repeat: repeat-y;
}

// Vertical gradient background
// @include vertical(COLOR, COLOR)
@mixin vertical($startColor: #ffffff, $endColor:  #777777) {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(top, $startColor, $endColor);
	background-color: $endColor;
	background-image: -moz-linear-gradient(top, $startColor, $endColor);
	background-image: -ms-linear-gradient(top, $startColor, $endColor);
	background-image: -o-linear-gradient(top, $startColor, $endColor);
	background-image: linear-gradient(top, $startColor, $endColor);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$startColor}', endColorstr='#{$endColor}',GradientType=0 );
	background-repeat: repeat-x;
}

// Directional gradient background
// @include directional(COLOR, COLOR, DEG)
@mixin directional($startColor: #ffffff, $endColor: #777777, $deg: 45deg) {
	background-color: $endColor;
	background-image: -moz-linear-gradient($deg, $startColor, $endColor);
	background-image: -ms-linear-gradient($deg, $startColor, $endColor);
	background-image: -webkit-linear-gradient($deg, $startColor, $endColor);
	background-image: -o-linear-gradient($deg, $startColor, $endColor);
	background-image: linear-gradient($deg, $startColor, $endColor);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$startColor}', endColorstr='#{$endColor}',GradientType=1 );
	background-repeat: repeat;
}

//TODO: Finish multicolor-gradient() mixin -- Need old syntax and IE filter syntax
// Multicolor / any direction gradient background
// @include multicolor-gradient(top, COLOR, COLOR, COLOR, COLOR)
// @include multicolor-gradient(45deg, COLOR STOP, COLOR STOP, COLOR STOP)
// @include multicolor-gradient(bottom, white 0%, red 25%, blue 50%, yellow 75%, green 100%)
@mixin multicolor-gradient($direction, $colorList...) {
	$max: length($colorList);
	$colors: '#{$direction}, ';
	$w3cColors: '';

	@if $direction == 'top' {
		$w3cColors: 'to bottom, ';
	} @else if $direction == 'bottom' {
		$w3cColors: 'to top, '
	} @else if $direction == 'left' {
		$w3cColors: 'to right, '
	} @else if $direction == 'right' {
		$w3cColors: 'to left, '
	} @else {
		$w3cColors: '#{$direction}, ';
	}

	$firstColor: nth($colorList, 1);
	$lastColor: nth($colorList, $max);

	@for $i from 1 through $max {
		$colors: #{$colors + nth($colorList, $i)};
		$w3cColors: #{$w3cColors + nth($colorList, $i)};

		@if $i < $max {
			$colors: #{$colors + ", "};
			$w3cColors: #{$w3cColors + ", "};
		}
	}

	background: $lastColor;
	background: -moz-linear-gradient($colors); /* FF3.6+ */
	background: -webkit-linear-gradient($colors); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient($colors); /* Opera 11.10+ */
	background: -ms-linear-gradient($colors); /* IE10+ */
	background: linear-gradient($w3cColors); /* W3C */
}

// Retina(2x) background image
// @include background-2x(STRING RETINABACKGROUNDIMAGEURL);
@mixin background-2x($bgimg) {
	@media  only screen and (-webkit-min-device-pixel-ratio: 2),
			only screen and (   min--moz-device-pixel-ratio: 2),
			only screen and (     -o-min-device-pixel-ratio: 2/1),
			only screen and (        min-device-pixel-ratio: 2),
			only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) {
		background-image: #{$bgimg};
		background-size: 100% auto;
	}
}

// Retina(3x) background image
// @include background-3x(STRING RETINABACKGROUNDIMAGEURL);
@mixin background-3x($bgimg) {
	@media  only screen and (-webkit-min-device-pixel-ratio: 3),
			only screen and (   min--moz-device-pixel-ratio: 3),
			only screen and (     -o-min-device-pixel-ratio: 3/1),
			only screen and (        min-device-pixel-ratio: 3),
			only screen and (                min-resolution: 288dpi),
			only screen and (                min-resolution: 3dppx) {
		background-image: #{$bgimg};
		background-size: 100% auto;
	}
}

// Clear IE background gradient filter
//@include clearIeGradient();
@mixin clearIeGradient() {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}