//TODO: Create Flexbox mixins
//http://msdn.microsoft.com/en-us/library/ie/hh673531(v=vs.85).aspx
//

// Declare flexbox on the parent
// @include flexbox();
@mixin flexbox() {
	// Microsoft IE10-specific styles
	@if $flexboxSupportIE10 {
		display: -ms-flexbox;
		-ms-box-orient: horizontal;
	}

	// Cross-browser newest syntax
	display: -webkit-flex;
	display: flex;
}

@mixin flexbox-justify-content($justify) {
	// Microsoft IE10-specific styles
	@if $flexboxSupportIE10 {
		-ms-box-pack: $justify;
	}

	// Cross-browser newest syntax
	-webkit-justify-content: $justify;
	justify-content: $justify;
}

@mixin flexbox-flex-wrap($wrap) {
	// Microsoft IE10-specific styles
	@if $flexboxSupportIE10 {
		-ms-flex-wrap: $wrap;
	}

	// Cross-browser newest syntax
	// Firefox doesn't support flex-wrap as of v25
	-webkit-flex-wrap: $wrap;
	flex-wrap: $wrap;
}

@mixin flexbox-align-items($align) {
	// Microsoft IE10-specific styles
	@if $flexboxSupportIE10 {
		-ms-flex-align: $align;
	}

	-webkit-align-items: $align;
	align-items: $align;
}