// Rotate an element
// @include transform-rotate(INT);
@mixin transform-rotate($deg) {
	-webkit-transform: rotate(#{$deg}deg);
	-moz-transform: rotate(#{$deg}deg);
	-ms-transform: rotate(#{$deg}deg);
	-o-transform: rotate(#{$deg}deg);
	transform: rotate(#{$deg}deg);
}